# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env
.env
.env.*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
__pycache__/
**/__pycache__/
*.pyc

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Docker
**/.dockerignore

# Optional: ignore compiled output (if generated)
frontend/public/

# File too large
backend/db/dump.sql

# Rest
backend/db/__pycache__/db_utils.cpython-311.pyc
backend/utils/__pycache__/filters.cpython-311.pyc
backend/services/__pycache__/elasticsearch_service.cpython-311.pyc
backend/__pycache__/__init__.cpython-311.pyc
backend/utils/__pycache__/elasticsearch_utils.cpython-311.pyc
backend/db/__pycache__/__init__.cpython-311.pyc
backend/routes/__init__.py
backend/utils/__init__.py
backend/services/__init__.py
