# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env
.env
.env.*.local

# Editor / OS
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Docker
**/.dockerignore

# Optional: ignore compiled output (if generated)
frontend/public/

# File too large
backend/db/dump.sql
backend/db/__pycache__/db_utils.cpython-311.pyc
